{% extends "base.html" %}

{% block content %}

<br>

<div class="row">
	<div class="col-xs-12 text-center">
		<h2 class="text-uppercase">Project 0: Using SSH and HTML</h2>
	</div>
</div>

<div class="row">
	<div class="col-xs-2">
	</div>
	<div class="col-xs-8">
		Project 0 is for practicing using ssh and HTML.
	</div>
	<div class="col-xs-2">
	</div>
</div>

<br>

<div class="row">
	<div class="col-xs-12 text-center">
		<h4>An image of a sine graph</h4>
		<img src="https://github.com/wonjunee/math-447/blob/master/Math447_html_files/sinegraph.png?raw=true" alt="sinegraph">
	</div>
</div>

{% endblock %}