{% extends "base.html" %}

{% block content %}

<br>

<div class="row">
   <div class="col-xs-12 text-center">
		<h2>Project 1: Kinematics of the Stewart platform</h2>
	</div>
</div>

<div class="row">
   <div class="col-xs-12 text-center">
		<h3>Wonjun Lee</h3>
		<h3>James Trichilo</h3>
	</div>
</div>
<br>
<div class="row">
	<div class="col-xs-12">
		<h3>Introduction</h3>
		<hr>
	</div>
</div>
<div class="row">
	<div class="col-xs-4">
	</div>
	<div class="col-xs-4">
		<img src="https://github.com/wonjunee/math-447/blob/master/Math447_html_files/
		platform.gif?raw=true" alt="Stewart" align="center" width="300" height="300">
	</div>
	<div class="col-xs-4">
	</div>
</div>

<br>

<div class="row">
	<div class="col-xs-12 text-center">
		<p>Rotating Stewart Platform. Digital image. Wikipedia. N.p., n.d. Web. 04 Feb. 2014. </p>
		<p>http://upload.wikimedia.org/wikipedia/commons/a/a7/Hexapod_general_Anim.gif.</p>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<p>As seen above, the Stewart Platform consists of six struts of variable length.  These struts can rotate to support various payloads.  These
		payloads include applications in flight simulation, carnival rides, and surgical procedures.  In our setting, the Stewart Platform was simplified to a
		2-Dimensional version.  In this 2-Dimensional setting, the platform is rotated about an angle, theta, and is support by three struts, of variable lengths.  
		In this project we had to solve for valid poses of the platform, given various initial conditions. </p>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<h3>Part 1</h3>
		<hr>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<p>L1=2, L2=L3=sqrt(2), gamma=pi/2, p1=p2=p3=sqrt(5)</p>
		<p>Using a bisection method, solutions are found and they are close to -pi/4 and pi/4.</p>
		<p>theta=0.785397529602051, -0.785397529602051</p>
		<a href="/project1/matlabcode1" class="main-button">Matlab code</a>
		<br>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<h3>Part 2 and Part 3</h3>
		<hr>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<img src="https://github.com/wonjunee/math-447/blob/master/Math447_html_files/pigraph.png?raw=true" alt="Sine Graph" width="700" height="500"></p>

		<img src="https://github.com/wonjunee/math-447/blob/master/Math447_html_files/pr1_3a.png?raw=true" alt="Sine Graph 1" width="500" height="500">
		<img src="https://github.com/wonjunee/math-447/blob/master/Math447_html_files/pr1_3b.png?raw=true" alt="Sine Graph 2" width="500" height="500"></p>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<h3>Part 4</h3>
		<hr>
		<p> x1=5, (x2, y2) = (0,6), L1=L3=3, L2 = 3*sqrt(2), gamma=pi/4, p1=p2=5, p3=3</p>
	</div>
	<div class="col-xs-1">
	</div>
	<div class="col-xs-10">
		<img src="https://github.com/wonjunee/math-447/blob/master/Math447_html_files/p1_4.png?raw=true" alt="Sine Graph 3">
		<img src="https://github.com/wonjunee/math-447/blob/master/Math447_html_files/problem4part1.png?raw=true" alt="Problem1part1">
		<img src="https://github.com/wonjunee/math-447/blob/master/Math447_html_files/problem4part2.png?raw=true" alt="Problem1part2">
		<img src="https://github.com/wonjunee/math-447/blob/master/Math447_html_files/problem4part3.png?raw=true" alt="Problem1part3">
		<img src="https://github.com/wonjunee/math-447/blob/master/Math447_html_files/problem4part4.png?raw=true" alt="Problem1part4">
	</div>
	<div class="col-xs-1">
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<h3>Part 5</h3>
		<hr>
		<p> x1=5, (x2, y2) = (0,6), L1=L3=3, L2 = 3*sqrt(2), gamma=pi/4, p1=5, p2=7, p3=3</p>
		<img src="https://github.com/wonjunee/math-447/blob/master/Math447_html_files/p1_5.png?raw=true" alt="Sine Graph 3">

		<br>

		<div class="sub-title">Six poses:</div>
		<img src="https://github.com/wonjunee/math-447/blob/master/Math447_html_files/triproject1.gif?raw=true" alt="triproject1" width="700" height="500">
	</div>
</div>

<br>

<div class="row">
	<div class="col-xs-12">
		<h3>Part 6</h3>
		<hr>
		<p>Roots graph:</p>
		<img src="https://github.com/wonjunee/math-447/blob/master/Math447_html_files/rootspigraph.gif?raw=true" alt="Computer man" width="700" height="500">

		<br>

		<div class="sub-title">p2=4</div>
		<p>theta = 1.3316, 1.7775</p>
		<img src="https://github.com/wonjunee/math-447/blob/master/Math447_html_files/p1_6_p2_4_1.png?raw=true" alt="problem2part4a">
		<img src="https://github.com/wonjunee/math-447/blob/master/Math447_html_files/p1_6_p2_4_2.png?raw=true" alt="problem2part4b">
		<div class="sub-title">p2=8</div>
		<p>theta = 1.3316, 1.7775</p>
		<img src="https://github.com/wonjunee/math-447/blob/master/Math447_html_files/p1_6_p2_8_1.png?raw=true" alt="problem2part8a">
		<img src="https://github.com/wonjunee/math-447/blob/master/Math447_html_files/p1_6_p2_8_2.png?raw=true" alt="problem2part8b">
		<div class="sub-title">p2=9</div>
		<p>theta = 1.3316, 1.7775</p>
		<img src="https://github.com/wonjunee/math-447/blob/master/Math447_html_files/p1_6_p2_9_1.png?raw=true" alt="problem2part9a">
		<img src="https://github.com/wonjunee/math-447/blob/master/Math447_html_files/p1_6_p2_9_2.png?raw=true" alt="problem2part9b">
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<h3>Conclusion</h3>
		<hr>
		<p>This project was a very enjoyable collaboration.  Our individual abilities complemented each other very well.  Much of the time, the problems were solved collectively, with plenty of discussion between the two of us.  The first moving graph was coded by Wonjun himself.  The other moving graph was brainstormed by the two of us, and was coded by Wonjun as well.  This was agreed upon by the two of us, as I (James), was responsible for typing the Project summary and verifying that the norms were correct in Problem 4.</p>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<h3>Matlab code</h3>
		<hr>
		<a href="https://github.com/wonjunee/math-447/blob/master/Math447_html_files/bisect.m" class="main-button">bisect.m</a>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<h3>Reference</h3>
		<hr>
		<p>Sauer, T. Numerical Analysis 2nd ed. Pearson</p>
	</div>
</div>

{% endblock %}